body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: SF UI Display;
    color: #ffffff;
    font-weight: 500;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('materials/sf-ui-display-medium.woff2') format('woff2')
}

canvas, .RectangleBlack {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.FirstScreen, .AboutUsScreen, .GenerationScreen, .CarauselScreen, .ContactsScreen {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}



.logo {
    width: 180px;
    display: block;
    margin: auto;
    padding-top: 50px;
}

.Text {
    font-size: 20px;
    position: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    color: white;
}

.Title {
    font-size: 40px;
    position: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    color: white;
}

.Header {
    font-size: 64px;
    position: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 215px;
    color: white;
}

.Copyright {
    font-size: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 40px;
    color: white;

}

.Bg {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;
    opacity: 0.20;
    background: white;
    border-radius: 60px;
    z-index: -1;
}

a {
    position: flex;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

input {outline:none;}

.links {
    text-align: center;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  padding-top: 80px;
  padding-bottom: 160px;

}

.ButtonContainer {
    display: grid;
    place-items: center;
}

#Button1 {
    padding-top: 32px;
}

#search {
    display: flex;
    width: 600px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 120px;
    margin-top: 80px;
    margin-bottom: 16px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    transition: color 0.25s ease-in;
}

#search:hover {
    opacity: 50%;
}

#search:focus {
    opacity: 100%;
    -webkit-box-shadow: 4px 4px 100px 0px rgba(255, 255, 255, 0.75); 
-moz-box-shadow: 4px 4px 100px 0px rgba(255, 255, 255, 0.75); 
box-shadow: 4px 4px 100px 0px rgba(255, 255, 255, 0.75);
}

.sortButtons {
    display: flex;
    flex-direction: row;
    width: 612px;
    margin-left: auto;
    margin-right: auto;
}

.sortButton {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 16px;
    border-radius: 120px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 6px;
}

.sortButton:hover {
    opacity: 50%;
}




form {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


.generalInputs {
    padding-bottom: 40px;
}

.generalInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 45px;
    width: 360px;
    border-radius: 120px;
    font-size: 20px;
    border: none;
    padding-left: 18px;
    margin-bottom: 8px;
    color: #CCCCCC;
    background-color: white;
    font-size: 16px;
}

.generalInput:hover {
    opacity: 50%;
}

.generalInput:focus {
    opacity: 100%;
    border: none;
    background-color: white;
    box-shadow: #ffffff;
    -webkit-box-shadow: 4px 4px 100px 0px rgba(255, 255, 255, 0.75); 
-moz-box-shadow: 4px 4px 100px 0px rgba(255, 255, 255, 0.75); 
box-shadow: 4px 4px 100px 0px rgba(255, 255, 255, 0.75);
}

#dateInputContainer {
    display: flex;
    flex-direction: row; /* Это гарантирует, что элементы будут расположены горизонтально */
    column-gap: 16px;
    align-items: center; /* Центрирование элементов по вертикали */
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
    margin-bottom: 40px;
}

input[type="date"] {
    
    font-size: 16px;
    border-radius: 100px;
    padding-left: 24px;
    text-align: center;
    border: 1px solid #CCCCCC;
    width: 120px;
    height: 25px;

}


#button_submit {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#button_submit:hover {
    opacity: 50%;
}



input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid white; /* Цвет и толщина обводки */
    border-radius: 50%; /* Закругление краев для создания круглой формы */
    width: 16px; /* Ширина кнопки */
    height: 16px; /* Высота кнопки */
    outline: none; /* Убирает стандартное выделение */
    vertical-align: middle;
    margin-right: 6px;
}


input[type="radio"]:checked {
    background-color: #ffffff;
}

input[type="radio"]:hover {
    opacity: 50%;
}


.radioInputLabel {
    font-size: 25px;
}

.radioColumns {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.radioColumn {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.radioLabelContainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}



.questionInputContainer {
    padding-top: 32px;
    padding-bottom: 32px;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 32px;
}


.rightColumn {
    margin-left: 100px;
}


.card {
    width: 290px;
    height: 455px;
    border-radius: 40px;
    border: 2px solid white;
    background-color:rgba(255, 255, 255, 0);
}

.cardImage {
    width: 266px;
    height: 266px;
    border-radius: 28px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.caption {
    font-size: 12px;
}

.textContainer {
    margin: 0 24px;
    text-align: left;

}

.captionContainer {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-top: 12px;
    margin-bottom: 16px;
    column-gap: 110px;
}

.TextCard {
    font-size: 25px;
}

button {
    background-color:rgba(255, 255, 255, 0);
    border: none;
}

#button_card {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.view_icon {
    height: 18px;
}

.viewsContainer {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    margin-top: 60px;
    overflow-x: auto; 
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    margin: auto;
    width: 950px;
    height: 650px;
    margin-top: 80px;
    background-color: white;
    border-radius: 60px;
}

#modalImage {
    width: 500px;
    height: 500px;
    margin: 75px;
    margin-right: 75px;
    border-radius: 40px;
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    color: black;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.modalText {
    font-size: 38px;
    margin: 75px 0;
    text-align: left;
    width: 120px;
    color: black;
}

.photoTitle {
    display: flex;
    flex-direction: row;
}

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(255, 255, 255, 0);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-container {
    display: flex;
    align-items: center;
    column-gap: 12px;
    position: absolute;
    top: 48px;
    right: 48px;
}